@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--===============Banner =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>@ViewData["Title"]</h3>
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="cart.html">@ViewData["Title"]</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================Banner =================-->