@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewData["Title"] = "Thực đơn";
}
<partial name="_NavBar" />
<!--================Recipe Menu list Area =================-->
<section class="price_list_area p_100">
    <div class="container">
        <div class="price_list_inner">
            <div class="single_pest_title">
                <h2>Thực đơn ngày hôm nay</h2>
                <p>“Thành công của những thợ làm bánh xuất phát từ đôi bàn tay vàng cùng khối óc sáng tạo và trái tim đầy nhiệt huyết.”</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discover_item_inner">
                        <div class="discover_item">
                            <h4>Double Chocolate Pie</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Zabaglione Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Blueberry Muffin</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Box of Delight</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$7.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Classic French Croissant</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$6.79</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Macarons & Tea</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$5.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Strawberry Sweet Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Cupcake of Vanela</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$20.00</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="discover_item_inner">
                        <div class="discover_item">
                            <h4>Fried Egg Sandwich</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Multigrain Hot Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Branch Special Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$8.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Bialy Egg Sandwich with Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam milk <span>$7.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Strawberry Sweet Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$6.79</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Double Chocolate Pie</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$5.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Blueberry Muffin</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$12.99</span></p>
                        </div>
                        <div class="discover_item">
                            <h4>Classic Chocolate Cake</h4>
                            <p>Chocolate puding, vanilla, fruite rasberry jam evporate milk <span>$20.00</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row our_bakery_image">
                <div class="col-md-4 col-6">
                    <img class="img-fluid" src="img/our-bakery/bakery-1.jpg" alt="">
                </div>
                <div class="col-md-4 col-6">
                    <img class="img-fluid" src="img/our-bakery/bakery-2.jpg" alt="">
                </div>
                <div class="col-md-4 col-6">
                    <img class="img-fluid" src="img/our-bakery/bakery-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->