@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Loại sản phẩm";
    var PTpackage = ViewBag.productType;
}
<partial name="_NavBar" />
<!--================Portfolio Area Area =================-->
<section class="portfolio_area p_100">
    <div class="container">
        <div class="portfolio_filter">
            <ul class="list_style">
                <li class="active" data-filter="*"><a href="#">All</a></li>
                <li data-filter=".cake"><a href="#">Cakes</a></li>
                <li data-filter=".bakery"><a href="#">Bakery</a></li>
                <li data-filter=".past"><a href="#">Pastries</a></li>
                <li data-filter=".choco"><a href="#">Chocolates</a></li>
                <li data-filter=".bread"><a href="#">Breads</a></li>

            </ul>
        </div>
        <div class="row grid_portfolio_area imageGallery1">
            @foreach (ProductType item in PTpackage)
            {
                <div class="col-md-4 col-6 cake bakery bread">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="~/img/portfolio/portfolio-@(item.Id).jpg">
                                <img class="img-fluid" src="~/img/portfolio/portfolio-@(item.Id).jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#"><h4>@item.TypeName</h4></a>
                        </div>
                    </div>
                </div>
            }

            
        </div>
    </div>
</section>
<!--================End Portfolio Area Area =================-->
