@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giỏ hàng";
}
<partial name="_NavBar" />
<!--================Cart Table Area =================-->
<section class="cart_table_area p_100">
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Gía</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="img/product/cart-img.jpg" alt="">
                        </td>
                        <td>Wheel Axel</td>
                        <td>$25.00</td>
                        <td>1</td>
                        <td>$25.00</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mã giảm giá">
                                </div>
                                <button type="submit" class="btn">Phiếu giảm giá</button>
                            </form>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="pest_btn" style="min-width:200px" href="#">Thêm vào giỏ hàng</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row cart_total_inner">
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="cart_total_text">
                    <div class="cart_head">
                        Tổng giỏ hàng
                    </div>
                    <div class="sub_total">
                        <h5>Phụ thu <span>$25.00</span></h5>
                    </div>
                    <div class="total">
                        <h4>Tổng tiền <span>$25.00</span></h4>
                    </div>
                    <div class="cart_footer">
                        <a class="pest_btn" href="#">Đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Table Area =================-->